{% extends 'base.twig' %}
{% block body %}
    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>
    <main class="bg-white">

        <div class="relative flex">

            <!-- Content -->
            <div class="w-full md:w-1/2">

                <div class="min-h-screen h-full flex flex-col after:flex-1">

                    <!-- Header -->
                    <div class="flex-1">
                        <div class="flex items-center justify-between h-16 px-4 sm:px-6 lg:px-8">
                            <!-- Logo -->
                            <a class="block">
                                <svg width="32" height="32" viewBox="0 0 32 32">
                                    <defs>
                                        <linearGradient x1="28.538%" y1="20.229%" x2="100%" y2="108.156%" id="logo-a">
                                            <stop stop-color="#A5B4FC" stop-opacity="0" offset="0%" />
                                            <stop stop-color="#A5B4FC" offset="100%" />
                                        </linearGradient>
                                        <linearGradient x1="88.638%" y1="29.267%" x2="22.42%" y2="100%" id="logo-b">
                                            <stop stop-color="#38BDF8" stop-opacity="0" offset="0%" />
                                            <stop stop-color="#38BDF8" offset="100%" />
                                        </linearGradient>
                                    </defs>
                                    <rect fill="#6366F1" width="32" height="32" rx="16" />
                                    <path d="M18.277.16C26.035 1.267 32 7.938 32 16c0 8.837-7.163 16-16 16a15.937 15.937 0 01-10.426-3.863L18.277.161z" fill="#4F46E5" />
                                    <path d="M7.404 2.503l18.339 26.19A15.93 15.93 0 0116 32C7.163 32 0 24.837 0 16 0 10.327 2.952 5.344 7.404 2.503z" fill="url(#logo-a)" />
                                    <path d="M2.223 24.14L29.777 7.86A15.926 15.926 0 0132 16c0 8.837-7.163 16-16 16-5.864 0-10.991-3.154-13.777-7.86z" fill="url(#logo-b)" />
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="max-w-sm mx-auto px-4 py-8">

                        <h1 class="text-3xl text-slate-800 font-bold mb-6">Welcome! ✨</h1>
                        <!-- Form -->
                        <form id="RegForm" class="max-w-md mx-auto p-6 bg-white rounded-lg shadow-md">
                            <div class="space-y-6">
                                <div>
                                    <label class="block text-base font-semibold mb-2" for="login">Login</label>
                                    <input id="login" class="form-input w-full px-4 py-3 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500" type="text" placeholder="Enter your login">
                                </div>
                                <div>
                                    <label class="block text-base font-semibold mb-2" for="password">Password</label>
                                    <input id="password" class="form-input w-full px-4 py-3 border-2 border-gray-300 rounded-lg focus:outline-none focus:border-indigo-500" type="password" autocomplete="on" placeholder="Enter your password">
                                </div>
                            </div>
                            <button class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400" type="submit">Sign Up</button>
                        </form>
                </div>

            </div>

            <!-- Image -->
            <div class="hidden md:block absolute top-0 bottom-0 right-0 md:w-1/2" aria-hidden="true">
                <img class="object-cover object-center w-full h-full" src="/images/auth-image.jpg" width="760" height="1024" alt="Authentication image" />
                <img class="absolute top-1/4 left-0 -translate-x-1/2 ml-8 hidden lg:block" src="/images/auth-decoration.png" width="218" height="224" alt="Authentication decoration" />
            </div>

        </div>

        <script> document.addEventListener('DOMContentLoaded', function () {
                const form = document.getElementById('RegForm');

                form.addEventListener('submit', function (event) {
                    event.preventDefault();

                    const login = document.getElementById('login').value;
                    const password = document.getElementById('password').value;
                    console.log(login, password)

                    if (!login || !password) {
                        alert('Both fields are required!');
                        return;
                    }

                    const formData = new FormData();
                    formData.append('login', login);
                    formData.append('password', password);

                    fetch('/registration_confirm', {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'Accept': 'application/json',
                        }
                    })
                        .then(data=>{
                            window.location.href = '/';
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('An error occurred. Please try again.' + error);
                        });
                });
            });</script>
        </div>
    </main>
{% endblock body %}